@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Medium.woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Thin.woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Light.woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Bold.woff');
	font-weight: bold;
	font-style: normal;
}
