@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';



.NewsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .NewsHeader_Title {
        font-weight: 600;
        text-transform: uppercase;
    }
}

@media (min-width: 1230px) {

    .NewsHeader {
        margin: 0 0 30px 0;

        .NewsHeader_Title {
            font-size: 26px;
        }
    }
}

@media (max-width: 1229px) and (min-width: 481px) {
    $tb: 8.00vw;

    .NewsHeader {
        margin: 0 0 30vw/$tb+vw 0;

        .NewsHeader_Title {
            font-size: 26vw/$tb+vw;
        }
    }
}

@media (max-width: 480px) {
    $mb: 4.80vw;

    .NewsHeader {
        margin: 0 0 30vw/$mb+vw 0;

        .NewsHeader_Title {
            font-size: 22vw/$mb+vw;
        }
    }
}