@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.NewsList {

    li {
        display: flex;
        flex-direction: column;

        .Wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            small {
                color: $general_color_3;
            }

            .ControlsWrap {

                .Edit {
                    color: white;
                    background: rgba(0, 0, 255, 0.5);

                    &:hover {
                        background: rgb(0, 0, 255);
                    }
                }

                .Delete {
                    color: white;
                    background: rgba(255, 0, 0, 0.5);

                    &:hover {
                        background: rgb(255, 0, 0);
                    }
                }
            }
        }
    }
}

@media (min-width: 1230px) {
    .NewsList {

        li {
            margin: 0 0 30px 0;
            padding: 15px;
            border-radius: 3px;

            .Wrapper {
                margin: 20px 0 0 0;

                .ControlsWrap {

                    .Edit {
                        margin: 0 15px 0 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 1229px) and (min-width: 481px) {
    $tb: 8.00vw;

    .NewsList {

        li {
            margin: 0 0 30vw/$tb+vw 0;
            padding: 15vw/$tb+vw;
            border-radius: 3vw/$tb+vw;

            .Wrapper {
                margin: 20vw/$tb+vw 0 0 0;

                .ControlsWrap {

                    .Edit {
                        margin: 0 15vw/$tb+vw 0 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    $mb: 4.80vw;

    .NewsList {

        li {
            margin: 0 0 30vw/$mb+vw 0;
            padding: 15vw/$mb+vw;
            border-radius: 3vw/$mb+vw;

            .Wrapper {
                flex-direction: column-reverse;
                margin: 20vw/$mb+vw 0 0 0;

                .ControlsWrap {
                    margin: 0 0 15vw/$mb+vw 0 ;

                    .Edit {
                        margin: 0 15vw/$mb+vw 0 0;
                    }
                }
            }
        }
    }
}