@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.Navigation {

    .NavigationList {
        display: flex;
        align-items: center;

        .NavigationList__Item {
            list-style: none;

            .NavigationList__Link {
                text-decoration: none;
                font-weight: 500;

                &.Active {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: 1230px) {
    .Navigation {

        .NavigationList {

            .NavigationList__Item {
                margin: 0 0 0 25px;

                .NavigationList__Link {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 1229px) and (min-width: 481px) {
    $tb: 8vw;

    .Navigation {

        .NavigationList {

            .NavigationList__Item {
                margin: 0 0 0 20vw / $tb + vw;

                .NavigationList__Link {
                    font-size: 16vw / $tb + vw;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    $mb: 4.8vw;

    .Navigation {
        position: fixed;
        top: $bar_height_mb;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        visibility: hidden;
        opacity: 0;
        transform: translateY(10%);
        transition: 0.5s;

        &.Active {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

        .NavigationList {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .NavigationList__Item {
                margin: 0 0 40vw/$mb+vw 0;

                &:last-child {
                    margin: 0 0 0 0;
                }

                .NavigationList__Link {
                    font-size: 40vw/$mb+vw;
                }
            }
        }
    }
}
