@import '../../../../scss/variables.scss';
@import '../../../../scss/mixins.scss';

.NewsCard {
    list-style: none;

    a {
        font-weight: 500;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        color: $general_color_3;
    }

    &.Loading {
        position: relative;
        overflow: hidden;
        color: transparent;

        * {
            color: transparent;
            background: $general_color_6;
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            display: block;
            width: 20%;
            height: 100%;
            background: linear-gradient(115deg, rgba(255,255,255,0) 10%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.00043767507002800965) 90%);
            animation: move 2.5s linear 0s infinite;

            @keyframes move {
                from {
                    transform: translateX(-110%);
                }

                to {
                    transform: translateX(550%);
                }
                
            }
        }
    }

    &:last-child {
        margin: 0 0 0 0;
    }
}

@media (min-width: 1230px) {

    .NewsCard {
        margin: 0 0 25px 0;

        a {
            margin: 0 0 7px 0;
            text-decoration: none;
            font-size: 24px;

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            font-size: 16px;
        }

        &.Loading {

            * {
                border-radius: 3px;
            }

            p {
                width: 45%;
            }
        }
    }
}

@media (max-width: 1229px) and (min-width: 481px) {
    $tb: 8.00vw;

    .NewsCard {
        margin: 0 0 25vw/$tb+vw 0;

        a {
            margin: 0 0 7vw/$tb+vw 0;
            font-size: 20vw/$tb+vw;
        }

        p {
            font-size: 14vw/$tb+vw;
        }

        &.Loading {

            * {
                border-radius: 3vw/$tb+vw;
            }

            p {
                width: 50%;
            }
        }
    }
}

@media (max-width: 480px) {
    $mb: 4.80vw;

    .NewsCard {
        margin: 0 0 25vw/$mb+vw 0;

        a {
            margin: 0 0 7vw/$mb+vw 0;
            font-size: 22vw/$mb+vw;
        }

        p {
            font-size: 14vw/$mb+vw;
        }

        &.Loading {

            * {
                border-radius: 3vw/$mb+vw;
            }

            p {
                width: 75%;
            }
        }
    }
}