@import './scss/variables.scss';
@import './scss/mixins.scss';
@import './fonts/fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    color: $general_color_1;
}

body {
    overflow-y: scroll;
}

button, input {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;

    &:disabled {
        opacity:1;
    }
}

.container {
    margin: 0 auto;
    max-width: $container_width;
    width: 100%;
}

.ql-editor {
    padding: 0 !important;
}





.input {
    background: white;
    width: 100%;

    &:disabled {
        background: $general_color_6;
        cursor: not-allowed;
        opacity: 1;
    }
}

.btn {
    font-weight: 500;
    cursor: pointer;
    background: white;
    text-decoration: none;
    text-align: center;

    &:disabled {
        background: $general_color_6;
        cursor: not-allowed;
    }
}


@media (min-width: 1230px) {
    .container {
        padding: 0 5px;
    }

    .ql-video {
        width: 100%;
        height: 485px;
    }

    .input {
        padding: 7px;
        border-radius: 3px;
        box-shadow: $bs_1_dt;
    }

    .btn {
        padding: 5px 15px;
        font-size: 16px;
        border-radius: 3px;
        box-shadow: $bs_1_dt;
        transition: .3s;
        

        &:hover {
            background: $general_color_6;
        }

        &:active {
            background: white;
        }
    }

    .bs-1 {
        box-shadow: $bs_1_dt;
    }

    .bar-height {
        height: $bar_height_dt;
    }
}

@media (max-width: 1229px) and (min-width: 481px) {
    $tb: 8.00vw;

    .container {
        padding: 0 15vw/$tb+vw;
    }

    .ql-video {
        width: 100%;
        height: 434.5vw/$tb+vw;
    }

    .input {
        padding: 7vw/$tb+vw;
        border-radius: 3vw/$tb+vw;
        box-shadow: $bs_1_tb;
    }

    .btn {
        padding: 5vw/$tb+vw 15vw/$tb+vw;
        font-size: 16vw/$tb+vw;
        border-radius: 3vw/$tb+vw;
        box-shadow: $bs_1_tb;
    }

    .bs-1 {
        box-shadow: $bs_1_tb;
    }

    .bar-height {
        height: $bar_height_tb;
    }
}

@media (max-width: 480px) {
    $mb: 4.80vw;

    .container {
        padding: 0 15vw/$mb+vw;
    }

    .ql-video {
        width: 100%;
        height: 253vw/$mb+vw;
    }

    .input {
        padding: 7vw/$mb+vw;
        border-radius: 3vw/$mb+vw;
        box-shadow: $bs_1_mb;
    }

    .btn {
        padding: 5vw/$mb+vw 15vw/$mb+vw;
        font-size: 20vw/$mb+vw;
        border-radius: 3vw/$mb+vw;
        box-shadow: $bs_1_mb;
    }

    .bs-1 {
        box-shadow: $bs_1_mb;
    }

    .bar-height {
        height: $bar_height_mb;
    }
}