$tb: 8.00vw;
$mb: 4.80vw;

$container_width: 900px;

$general_color_1: #3d3d3d;
$general_color_2: rgb(245, 245, 245);
$general_color_3: #8a8a8a;
$general_color_4: #fdfdfd;
$general_color_5: #a7a7a7;
$general_color_6: rgb(230, 230, 230);


$bar_height_dt: 60px;
$bar_height_tb: 50vw/$tb+vw;
$bar_height_mb: 60vw/$mb+vw;

$fs_34_dt: 34px;
$fs_18_dt: 18px;
$fs_16_dt: 16px;

$fs_28_tb: 28vw/$tb+vw;
$fs_14_tb: 14vw/$tb+vw;
$fs_12_tb: 12vw/$tb+vw;

$fs_36_mb: 36vw/$mb+vw;
$fs_22_mb: 22vw/$mb+vw;
$fs_18_mb: 18vw/$mb+vw;
$fs_16_mb: 16vw/$mb+vw;

$bs_1_dt: 0px 0px 8px rgba(0, 0, 0, 0.2);

$bs_1_tb: 0px 0px 8vw/$tb+vw rgba(0, 0, 0, 0.2);

$bs_1_mb: 0px 0px 8vw/$mb+vw rgba(0, 0, 0, 0.2);



