@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.Search {
    position: relative;
    overflow: hidden;
    display: flex;
    font-size: 0px;

    .Delete {
        background-color: white;
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        width: 40px;
        // height: 100%;
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
            background-color: $general_color_6;
        }
    }

    &.Loading {
        background: $general_color_6;
    }
}

@media (min-width: 1230px) {
    .Search {
        margin: 0 0 20px 0;
        box-shadow: $bs_1_dt;
        border-radius: 3px;

        input {
            font-size: 20px;
        }
    }
}

@media (max-width: 1229px) and (min-width: 481px) {
    $tb: 8.00vw;

    .Search {
        margin: 0 0 20vw/$tb+vw 0;
        box-shadow: $bs_1_tb;
        border-radius: 3vw/$tb+vw;

        input {
            font-size: 18vw/$tb+vw;
        }
    }
}

@media (max-width: 480px) {
    $mb: 4.80vw;

    .Search {
        margin: 0 0 20vw/$mb+vw 0;
        box-shadow: $bs_1_mb;
        border-radius: 3vw/$mb+vw;

        input {
            font-size: 24vw/$mb+vw;
        }
    }
}