@import '../../../../scss/variables.scss';
@import '../../../../scss/mixins.scss';



.ToAllNews{
    align-self: flex-end;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}


@media (min-width: 1230px) {
    
    .ToAllNews{
        padding: 5px 15px;
        font-size: 14px;
        border-radius: 3px;
    }
}

@media (max-width: 1229px) and (min-width: 481px) {
    $tb: 8.00vw;
    
    .ToAllNews{  
        padding: 5vw/$tb+vw 15vw/$tb+vw;
        font-size: 12vw/$tb+vw;
        border-radius: 3vw/$tb+vw;
    }
}

@media (max-width: 480px) {
    $mb: 4.80vw;
    
    .ToAllNews{    
        padding: 5vw/$mb+vw 15vw/$mb+vw;
        font-size: 18vw/$mb+vw;
        border-radius: 3vw/$mb+vw;
    }
}